body {
  font-family: Georgia, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  color: #222;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 60px auto;
}

.sidebar {
  width: 240px;
  margin-right: 50px;
}

.sidebar h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

.sidebar p {
  font-size: 15px;
  margin-top: 0;
}

.sidebar a {
  display: block;
  color: #1a73e8;
  text-decoration: none;
  margin: 5px 0;
}

.main {
  flex: 1;
}

nav {
  margin-bottom: 30px;
}

nav a {
  margin-right: 18px;
  text-decoration: none;
  color: #1a73e8;
  font-size: 15px;
}

h2 {
  margin-top: 30px;
  font-size: 22px;
}

ul {
  margin-left: 20px;
}
